<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.xygraph.test.example.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.samson.histdata.ui.editor.HistDataSetEditor"
            default="false"
            id="de.samson.ui.dataVisualizer.histDataSetEditor"
            name="Historical Data Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.samson.histdata.ui.editor.OpenEditorHandler"
            id="de.samson.ui.dataVisualizer.openHistDataSetEditor"
            name="Open Editor">
         <commandParameter
               id="de.samson.ui.dataVisualizer.dataSourceId"
               name="Id of the HistDataSet to visualize"
               optional="false">
         </commandParameter>
      </command>
   </extension>

</plugin>
