<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.xygraph.test.example.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.xygraph.test.example.PerspectiveFactory"
            id="de.xygraph.test.Example.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.xygraph.test.example.TestView"
            id="de.xygraph.test.Example.view"
            name="Test"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.xygraph.test.Example.perspective">
         <view
               closeable="false"
               id="de.xygraph.test.Example.view"
               minimized="false"
               moveable="true"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.samson.histdata.ui.editor.HistDataEditor"
            default="false"
            id="de.samson.ui.dataVisualizer.hsitDataEditor"
            name="Historical Data Editor">
      </editor>
   </extension>

</plugin>
