<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.samson.service.histdatacollector.handler.CollectionHandler"
            id="de.samson.service.histDataCollector.handler.HistDataCollection"
            name="Control Hist Data Collection">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.samson.service.histdatacollector.WorkbenchPreferencePage1"
            id="de.samson.service.histDataCollector.page1"
            name="Hist Data Collector">
      </page>
   </extension>


</plugin>
